{% extends "base.html.twig" %}
{% block title %}Accueil{% endblock %}
{% block titleh1 %}{{ recup.h1 }}{% endblock %}
{% block titleh2 %}{{ recup.h2 }}{% endblock %}

{% block content %}
    {% for item in recup.content %}
        <p>{{ item }}</p>
{% endfor %}
{% endblock %}